body{
    text-align: center;
   background: rgb(0,255,235);
    background: linear-gradient(to top,blue, red );
    height:1111px;
    font-family: "Srisakdi";
    font-size:35px;
    color:mediumspringgreen;
}
.container{
  display:flex;
  flex-direction:column;

}
button{
    background:rgb(255, 0, 127);
    border:rgb(0, 255, 76)ridge 9px;
    color:rgb(123, 230, 242);
    
}
